body {
  background-color: aqua;
  margin-left: 50px;
}

.fnt {
  font-size: 40px;
  font-family: cursive;
  text-align: center;
  font-style: italic;
}

a:hover {
  color: blueviolet;
}

.tab,
.frm_div {
  font-size: 40px;
  font-family: cursive;
  font-style: italic;
}

table,
th,
td {
  border: 1px solid black;
  border-spacing: 0;
}

.m {
  padding-left: 20px;
}

.f {
  padding: 40px;
}

.tab1 {
  margin-top: 50px;
  font-size: 40px;
  font-family: cursive;
  font-style: italic;
  margin-bottom: 50px;
}

.v {
  padding-left: 15px;
}

.n {
  padding: 60px;
}

.frm_div {
  border: 4px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.abc,
.smt {
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 25px;
  font-family: cursive;
  font-style: italic;
}

label {
  width: 250px;
  display: inline-block;
}
